.breadcrumbs {
  padding: 15px 0 15px;
  border-bottom: 1px solid #f5f5f5;
  background: #f5f5ed;
  letter-spacing: 0.8px;
  font-size: 13px;
  color: #6d6d6d;
  &__link,
  &__first,
  &__last {
    display: inline-block;
    padding-right: 7px;
  }
  & a {
      letter-spacing: 0.3px;
      font-size: 14px;
      @include hover {
        & span {
          color: $app-color-1;
          border-bottom: 1px dotted $app-color-1;
        }
      }
      & span {
        color: #d0d0d0;
        border-bottom: 1px dotted #d0d0d0;
        font-weight: normal;
      }
  }
  & span  {
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #6d6d6d;
  }

}